/* src/styles/global.css */

@import "@1mpl0rd/react-ui-components/dist/style.css";

@import "./fonts.css";
@import "./reset.css";

@import "tailwindcss/theme.css" layer(theme);
/* @import "tailwindcss/preflight.css" layer(base); */
@import "tailwindcss/utilities.css" layer(utilities);

@layer theme, base, components, utilities;
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

html {
  color: rgb(var(--fgColor-default));
  background-color: rgb(var(--bgColor-default));
  font-family: var(--font-sans);
  font-size: 100%;
  font-feature-settings: "tnum" on;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: rgb(var(--fgColor-default-link));
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

body {
  font-size: var(--text-325);
  font-weight: var(--font-normal);
  letter-spacing: var(--tracking-normal);
  line-height: var(--leading-500);

  &.portal--hasCurtain .curtain {
    opacity: 1;
    visibility: visible;
    transition: opacity 320ms cubic-bezier(0.4, 0, 0.6, 1) 80ms,
      visibility 320ms step-start 80ms;
  }
}

.curtain {
  backdrop-filter: saturate(180%) blur(5px);
  position: fixed;
  inset: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
  background: rgba(0, 0, 0, 0.3);
  transition: opacity 320ms cubic-bezier(0.4, 0, 0.6, 1) 80ms,
    visibility 320ms step-end 80ms;
}

@theme {
  --font-*: initial;
  --default-font-family-*: initial;
  --default-mono-font-family-*: initial;
  --tracking-*: initial;
  --color-*: initial;
  --backdrop-*: initial;
}
